@page
@model RazorPagesAudio.Pages.Audios.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Audio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Audio.Title" class="control-label"></label>
                <input asp-for="Audio.Title" class="form-control" />
                <span asp-validation-for="Audio.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Audio.Singer" class="control-label"></label>
                <input asp-for="Audio.Singer" class="form-control" />
                <span asp-validation-for="Audio.Singer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Audio.NumberOfSongs" class="control-label"></label>
                <input asp-for="Audio.NumberOfSongs" class="form-control" />
                <span asp-validation-for="Audio.NumberOfSongs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Audio.Time" class="control-label"></label>
                <input asp-for="Audio.Time" class="form-control" />
                <span asp-validation-for="Audio.Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Audio.ReleaseDate" class="control-label"></label>
                <input asp-for="Audio.ReleaseDate" class="form-control" />
                <span asp-validation-for="Audio.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Audio.Genre" class="control-label"></label>
                <input asp-for="Audio.Genre" class="form-control" />
                <span asp-validation-for="Audio.Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Audio.Price" class="control-label"></label>
                <input asp-for="Audio.Price" class="form-control" />
                <span asp-validation-for="Audio.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Audio.Rating" class="control-label"></label>
                <input asp-for="Audio.Rating" class="form-control" />
                <span asp-validation-for="Audio.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
